[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  included_files = []
  external_node_modules = []

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

